.cardImg{
    width: 150px;
    height: 150px;
    border-radius: 10%;
    -webkit-box-shadow: 3px 3px 13px 1px;
    box-shadow: 3px 3px 13px 1px;
}

.card{
    justify-self: center;
    display: inline-block;
}

.ProjectContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

.title{
    text-align: center;
    font-weight: 200;
    font-size: 100px;
    margin: 0;
}

@media(max-width: 790px) {
    .ProjectContainer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
    }
}

@media(max-width: 520px) {
    .ProjectContainer {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 10px;
    }
}